.serviceItem {
    display: flex;
}

.serviceImg img {
    width: 65px;
    height: auto;
    margin: 10px;
}
.service {
    padding: 45px 0px;
}

.WhoWeAre{
    background-color: #f4f4f4;
    padding: 35px 0px;
    
}
.WhoText h2 {
    margin: 20px 0px ;
    font-weight: 400;
    
}
.WhoText h6 {
    font-size: 20px;
    color: rgb(156, 156, 156);
    font-weight: 400;
}

.whoImg img {
    width: 80%;
}

/*  team Section  */
.team {
    padding: 35px 0px;
}

.team-card:hover {
    box-shadow:0 1rem 3rem rgba(0,0,0,.175) ;
}
/* Blog Post Section */
.latestPost {
    background-color: #0088cc;
    padding: 100px 0px;
}

.postImg img {
    width: 100%;
}



.postDetails {
    display: flex;
    margin: 8px 0px;
    padding: 3px;
}
.post-date {
    margin-right: 15px;
}
.post-date .date  {
    padding: 10px;
    background-color: #fff;
    font-weight: bold;
    display: block;
    margin: 7px 0px;
    
}
.post-date .month  {
    padding: 5px;
    background-color: #fff;
    font-weight: bold;
    color: #0088cc;
}

.post-text p {
    text-align: justify;
    padding: 10px;
}